
@media (min-width: 450px) {
  .moneda {
        max-height: 35px;
            max-width: 30px;
  }
}


@media (min-width: 500px) {
  .moneda {
        max-height: 35px;
        max-width: 39px;
  }
}

@media (min-width: 768px) {
  .moneda {
        max-height: 35px;

  }
}
@media (min-width: 992px) {
  .moneda {
     max-height: 58px;
  }
}

@media (min-width: 1200px) {
  .moneda {
    max-height: 58px;
        min-width: 64px;
  }
}

.botonCategoriaMobil{
     border: none;
    width: 93px;
    height: 51px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background: #9FF;
    box-shadow: 0 3px #999;
    margin-right: 4px;
    margin-bottom: 3px;
    padding: 0;
    margin-left: 1px;
    margin-top: 1px;
    white-space: inherit;
}
.botonCategoria{
    border: none;
    width: 99px;
    height: 56px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background: #9FF;
    box-shadow: 0 3px #999;
    margin-right: 4px;
    margin-bottom: 3px;
    padding: 0;
    margin-left: 1px;
    margin-top: 1px;
    white-space: inherit;
}

.divCategoriaMobil{
max-height: 100px;
    overflow: auto;
    background: #CCFFFF;
}
.divCategoria{
    max-height: 127px;
    overflow: auto;
    background: #CCFFFF;
}
.divProductoMobil{
  max-height: 150px;
    overflow: auto;
    background: #ECF5FF;
    margin-top: -59px;
    min-height: 153px;
}
.divProducto{
        max-height: 150px;
    overflow: auto;
    background: #ECF5FF;
    margin-top: -34px;
    min-height: 189px;
}

.colorhover:hover{
  background: #5ed450;
}
.colorhover{
  background: #8aff7c;
}

#loading{
    width:100%;
    height:100%;
    background-color:#ccc;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    opacity: 0.8;
    filter: alpha(opacity=80);
}