
@media (min-width: 450px) {
  .moneda {
        max-height: 35px;
            max-width: 30px;
  }
}


@media (min-width: 500px) {
  .moneda {
        max-height: 35px;
        max-width: 39px;
  }
}

@media (min-width: 768px) {
  .moneda {
        max-height: 35px;

  }
}
@media (min-width: 992px) {
  .moneda {
     max-height: 58px;
  }
}

@media (min-width: 1200px) {
  .moneda {
    max-height: 58px;
        min-width: 64px;
  }
}